# Execute
#
#     git update-index --assume-unchanged .envrc
#
# to avoid committing your secrets accidentially.


# Social Maps uses "Login with OpenStreetMap" with Keycloak (by default) as its
# authentication service.
export OAUTH2_INTROSPECT_URL=''
export OAUTH2_CLIENT_SECRET=''

# Visit <https://admin.mistral.ai/organization/api-keys> to generate a secret
# key.
export MISTRAL_SECRET=''


# You don't need to define the following environment variables unless you want
# to override their default values:

# export OAUTH2_CLIENT_ID='org.socialmaps.api'
# export DATABASE_DSN='socialmaps-api.sqlite3'
# export LISTEN_ADDR='127.0.0.1:8080'
# export OVERPASS_ENDPOINT='https://overpass-api.de/api/interpreter'
