# Visit <https://www.openstreetmap.org/oauth2/applications> to register a new
# application.
export OSM_CLIENT_ID=''
export OSM_CLIENT_SECRET=''

# Use `openssl rand -base64 32` to generate a new secret.
export SESSION_SECRET=''
