{{define "title"}}Social Maps{{end}}

{{define "head"}}
<style>
    #username {
        font-weight: bold;
    }
</style>
{{end}}

{{define "body"}}
{{ if .User }}
<p>Welcome <span id="username">{{.User.Username}}</span>!</p>
<p><a href="/logout">Log out</a></p>
{{ else }}
<p><a href="/login">Sign in</a></p>
{{ end }}
{{end}}

{{template "base.gohtml" .}}