{{define "title"}}Login &mdash; Social Maps{{end}}

{{define "head"}}
<style>
    #username {
        font-weight: bold;
    }
</style>
{{end}}

{{define "body"}}
{{ if .User }}
<p>You're already logged in as <span id="username">{{.User.Username}}</span>.</p>
<p><a href="/logout">Log out</a></p>
{{ else }}
<p><a href="/auth/openstreetmap">Sign in with OpenStreetMap</a></p>
{{ end }}
{{end}}

{{template "base.gohtml" .}}